# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets
.env
.env.*
*.pem
*.key

# Node
node_modules/
npm-debug.log*

# Test
coverage/

# OS
.DS_Store
Thumbs.db